In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
import numpy as np
PATH = '/content/drive/MyDrive/ML/Data_Driven_Marketing/Data-Driven-Marketing-Project2/Data/bank-additional-full.csv'
data = pd.read_csv(PATH, delimiter=';')
data.head()

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

In [12]:
data.shape

(41188, 21)

# COL

## MONTH

In [13]:
data['month'].value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [18]:
data['quarter'] = data['month'].replace({'mar': 'Q1', 
                                         'apr': 'Q2', 'may': 'Q2', 'jun': 'Q2', 
                                         'jul': 'Q3', 'aug': 'Q3', 'sep': 'Q3',
                                         'oct': 'Q4', 'nov': 'Q4', 'dec': 'Q4' })

In [19]:
data['quarter'].value_counts()

Q2    21719
Q3    13922
Q4     5001
Q1      546
Name: quarter, dtype: int64

In [20]:
data['month'].value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

## POUTCOME

In [21]:
data['poutcome'].value_counts()

nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [22]:
data['poutcome_group'] = data['poutcome'].replace({'failure': 'existent', 'success': 'existent'})
data['poutcome_group'].value_counts()

nonexistent    35563
existent        5625
Name: poutcome_group, dtype: int64

In [23]:
data.head()

   age        job  marital    education  ... nr.employed   y quarter poutcome_group
0   56  housemaid  married     basic.4y  ...      5191.0  no      Q2    nonexistent
1   57   services  married  high.school  ...      5191.0  no      Q2    nonexistent
2   37   services  married  high.school  ...      5191.0  no      Q2    nonexistent
3   40     admin.  married     basic.6y  ...      5191.0  no      Q2    nonexistent
4   56   services  married  high.school  ...      5191.0  no      Q2    nonexistent

[5 rows x 23 columns]

In [24]:
data.to_csv('/content/drive/MyDrive/ML/Data_Driven_Marketing/Data-Driven-Marketing-Project2/Data/month_poutcome_group.csv')